---
layout: archive
title: 
permalink: /science/
author_profile: true
---

{% include base_path %}

I study how the brain controls the body at Columbia University. By analyzing electrical activity in the brain I hope to reverse engineer the algorithms supporting complex behavior. <a href="https://scholar.google.com/citations?hl=en&user=lCyg13UAAAAJ&view_op=list_works" target="_blank">Here</a> is a full list of my scientific publications, and <b>here are summaries of select projects:</b>

{% for post in site.science %}
  {% include archive-science.html %}
{% endfor %}
